<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <div>
      <h1>Video Streaming Demonstration</h1>
      <img id="bg" src="{{ url_for('video_feed') }}">    
    </div>
    <!-- <div>
      <h1>Option Panel</h1>
      <form action="/change_device_id" method="GET">
        <input type="text" id="device_id" name="device_id">
        <input type="submit" value="change Device ID">
      </form>
      <h1>Start record</h1>
      <form action="/start_record" method="GET">
        <input type="submit" value="Enable">
      </form>
    </div> -->
    
  </body>
</html>